ClientApplication/Connected Services/DBService/DatabaseService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64699/DatabaseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" />
  <xs:element name="Authorize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hash" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="AuthorizeResult" nillable="true" type="q1:EmployeeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="table" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="GetEmployeeResult" nillable="true" type="q2:EmployeeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="GetDepartmentsResult" nillable="true" type="q3:ArrayOfDepartmentEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="GetPositionsResult" nillable="true" type="q4:ArrayOfPositionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="GetTypesResult" nillable="true" type="q5:ArrayOfTypeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q6:ArrayOfCategoryEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="GetContractorsResult" nillable="true" type="q7:ArrayOfContractorEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatuses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="GetStatusesResult" nillable="true" type="q8:ArrayOfStatusEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClaims">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="c_table" nillable="true" type="q9:EmployeeEntity" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="c_status" nillable="true" type="q10:StatusEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClaimsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="GetAllClaimsResult" nillable="true" type="q11:ArrayOfClaimEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesClaims">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="c_table" nillable="true" type="q12:EmployeeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesClaimsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="GetEmployeesClaimsResult" nillable="true" type="q13:ArrayOfClaimEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="claim" nillable="true" type="q14:ClaimEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateClaimResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="claim" nillable="true" type="q15:ClaimEntity" />
        <xs:element minOccurs="0" name="table" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApproveClaimResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendExecuteClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="claim" nillable="true" type="q16:ClaimEntity" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="department" nillable="true" type="q17:DepartmentEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendExecuteClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendExecuteClaimResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="claim" nillable="true" type="q18:ClaimEntity" />
        <xs:element minOccurs="0" name="executorTable" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteClaimResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="claim" nillable="true" type="q19:ClaimEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinishClaimResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContractorClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="claim" nillable="true" type="q20:ClaimEntity" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="contractor" nillable="true" type="q21:ContractorEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContractorClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetContractorClaimResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="claim" nillable="true" type="q22:ClaimEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcceptClaimResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclineClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="claim" nillable="true" type="q23:ClaimEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclineClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeclineClaimResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ServerApplication.DataObjects" minOccurs="0" name="claim" nillable="true" type="q24:ClaimEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CloseClaimResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="table" type="xs:int" />
        <xs:element minOccurs="0" name="old_hash" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="new_hash" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="table" type="xs:int" />
        <xs:element minOccurs="0" name="phone" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePhoneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="table" type="xs:int" />
        <xs:element minOccurs="0" name="new_address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="table" type="xs:int" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>